html {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  color: #F0ECE5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.container-main {
  height: 100vh;
  background-color: #161A30;

  display: grid;
}

/* Header */
.header {
  background-color: #31304D;
  display: flex;
}

.header>h1 {
  font-size: 1.5rem;
  margin: auto;
}